
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

:root {
  --primary-color: black  ;
  --secondary-color: black;
}

.App {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* tables */

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-row:hover {
  cursor: pointer;
  font-weight: bold;
}

.table-head th {
  border: solid 2px gray;
  text-align: center;
  padding: 0rem 0.6rem;
}

.table-row td {
  border: solid 2px lightgray;
  text-align: center;
  padding: 0rem 0.6rem;
}


/* primary button */

.primary-button {
  background-color: white;
  color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  width: max-content;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* secondary button */

.secondary-button {
  background-color: white;
  color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  width: max-content;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
